Aby potwierdzić swoje uczestnictwo w turnieju, kliknij proszę na poniższy link:

http://baduk.pl/tournament/confirm/<%= @player.secret_code %>

Jeśli z jakichkolwiek powodów nie będziesz mógł w nim wziąć udziału, wypisz się klikając na następujący link:
http://baduk.pl/tournament/unregister/<%= @player.secret_code %>

