<div id="main">
<h2>Zapomniałeś hasła?</h2>
<p>Wprowadź adres email, który podałeś nam podczas rejestracji. Wyślemy Ci email z nowym hasłem.</p>

<% form_tag( { :controller => 'forgotten_password'}, :name => 'forgotten_password', :onsubmit => 'return true;') do %>
  <fieldset>
    <%= form_input 'user', 'email', 'Email:', 30, 1 %>
  </fieldset>
  
  <div class="formButtons">
    <%= submit_tag 'Przypomnij hasło!', :tabindex => 2 %>
  </div>
<% end %>
</div>
