<div id="main">
<h2>Nowe hasło właśnie zostało wysłane.</h2>
<p>Idź do strony <a href="/login">logowania</a> i sprawdź swoją skrzynkę pocztową. Czasami zdarzają się opóźnienia, więc bądź cierpliwy.</p>

<p>W przypadku niedostarcznenia nowego hasła (np. zbyt restrykcyjny filtr antyspamowy u dostawcy internetowego), prosimy o kontakt z nami pod adresem <a href="mailto:admin@baduk.pl">admin@baduk.pl</a></p>
</div>
