<div id="contact">
<p>
Jeśli masz jakieś pytania, propozycje dotyczące usprawnienia działania serwisu, chciałeś zgłosić nadużycie, błąd, bądź wadliwy plik SGF, pisz!
</p>

<h2><a href="mailto:admin@baduk.pl">admin@baduk.pl</a></h2>
</div>
