<h1>Dziękujemy!</h1>
<div id="registration-confirmation">
<p>
Na podany adres email właśnie został wysłany. Aby potwierdzić swoje 
uczestnictwo w turnieju kliknij na zawarty w nim link. Twoje nazwisko 
pojawi się wówczas na liście graczy.
</p>
</div>
